.page {
  margin-block-start: 100px;
  margin-block-end: 100px;
  color: var(--supp-color);
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color, #fff);
  background-image: var(--bg-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}


@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-ff, sans-serif);
    font-variation-settings: "wght" var(--regular-fw), "slnt" 0;
  }
}

.container {
  width: clamp(371px, 100%, 696px);
  margin: 0 auto;
}

.button-save {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  border: 2px solid var(--supp-color);
  padding: 15px 20px;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  inline-size: clamp(306px, 80%, 335px);
}

.floppy-icon {
  z-index: 2;
  color: var(--button-hover-color);
  min-inline-size: 21px;
  max-block-size: 21px;
  mix-blend-mode: difference;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--button-hover-color);
  font-family: var(--supp-ff), fantasy;
  font-size: 14px;
  line-height: 90%;
  text-align: left;
  text-wrap: nowrap;
  mix-blend-mode: difference;
}

.button-state::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--supp-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  transform-origin: left;
}

.button-state:hover::after {
  transform: translateX(0);
}

.button-state:focus {
  outline: none;
}

.button-state:focus-visible {
  box-shadow: 2px 2px 0 var(--supp-color);
}

.header {
  border: 2px solid var(--supp-color);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0.875rem 1.563rem;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.header__logo {
  display: block;
  margin-block-end: 20px;
  font-family: var(--supp-ff), fantasy;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

.header__title {
  margin-block-end: 25px;
  font-family: var(--supp-ff), fantasy;
  font-size: clamp(0.875rem, 0.2329rem + 2.7692vw, 1.4375rem);
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 19px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  font-family: var(--supp-ff), fantasy;
  font-size: 0.875rem;
  line-height: 1;
  text-align: left;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  outline: none;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  background-color: var(--supp-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inset-inline-start: 0;
  inset-block-end: -5px;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  width: 14px;
  height: 14px;
  animation: arrow 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.card-list__item {
  margin-block-end: 50px;
}

.card-list__item:first-child {
  margin-block-start: 100px;
}

.card {
  border: 2px solid var(--supp-color);
  background-color: var(--bg-color);
}

.card__title {
  padding: 4px 10px 6px;
  color: var(--supp-color);
  font-family: var(--regular-ff), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--bold-fw, 700), "slnt" 0;
}

.card__image-container {
  position: relative;
}

.card__image-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--supp-color);
  font-family: var(--supp-ff), fantasy;
  font-size: 14px;
  text-shadow: -1px 0 var(--label-stroke), 0 1px var(--label-stroke),
    1px 0 var(--label-stroke), 0 -1px var(--label-stroke);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--label-stroke);
    text-stroke: 1px var(--label-stroke);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  width: 100%;
  border-block-start: 2px solid var(--supp-color);
  border-block-end: 2px solid var(--supp-color);
}

.card__image_filter-common {
  filter: opacity(0.9);
}

.card__image_filter-dark {
  filter: grayscale(0.4);
}

.card__image_filter-saturate {
  filter: saturate(500%);
}

.card__image_filter-purple {
  filter: hue-rotate(30deg);
}

.card__image_filter-invert {
  filter: invert(0.8);
}

.card__image_filter-retro {
  filter: sepia(80%);
}

.card__image_filter-blur {
  filter: blur(12px);
}

.card__image_filter-red-green {
  filter: hue-rotate(90deg) invert(0.3);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 117%;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 6px;
  padding: 0 25px 25px;
}

.card__icon-button {
  height: 36px;
  overflow: hidden;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--supp-color);
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--supp-color);
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.dialog {
  position: fixed;
  inset: 0;
  display: grid;
  gap: 30px;
  border: 2px solid var(--supp-color);
  padding: 30px;
  background-color: var(--bg-color);
  transition: opacity 0.3s ease-in-out;
  inline-size: clamp(341px, 80%, 357px);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__floppy-icon {
  color: var(--supp-color);
  min-inline-size: 39px;
  max-block-size: 39px;
}

.dialog__title {
  color: var(--supp-color);
  font-family: var(--supp-ff), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--supp-color);
  padding: 9px 17px;
  background-color: var(--bg-color);
  min-block-size: 38px;
  inline-size: 293px;
  block-size: 38px;
}

.dialog__button .button__text {
  text-transform: uppercase;
}

@media (width <=375px) {
  .card__image-label {
    inset-inline-end: 13px;
  }

  .button-save {
    flex-direction: column;
  }

  .floppy-icon {
    min-inline-size: 28px;
    max-block-size: 28px;
  }

  .dialog {
    padding: 30px 35px 25px;
    inline-size: 341px;
  }

  .dialog__button {
    inline-size: 257px;
    block-size: 38px;
  }
}
